// global color tokens
$-clr-white: hsl(0 0% 100%);
$-clr-gray-100: rgb(51, 51, 51, 0.5);
$-clr-gray-200: rgb(51, 51, 51, 0.5);
$-clr-gray-300: hsl(0 0% 70%);
$-clr-gray-400: #9497a5;
$-clr-gray-500: hsl(0 0% 50%);
$-clr-gray-600: hsl(0 0% 40%);
$-clr-gray-700: hsl(0 0% 30%);
$-clr-gray-800: hsl(0 0% 17.5%);
$-clr-gray-900: #333333;
$-clr-blue-100: rgb(74, 144, 226, 0.3);
$-clr-blue-200: #e3f0ff;
$-clr-blue-400: #4a90e2;
$-clr-blue-700: #154e8f;
$-clr-pink-200: #ffe2e5;
$-clr-pink-400: #ff7988;
$-clr-pink-700: #ed3a4e;
$-clr-brown-200: #fff2de;
$-clr-brown-400: #f5a623;
$-clr-green-200: #ecffd7;
$-clr-green-400: #417505;

$light: (
  "neutral": (
    "000": $-clr-white,
    "100": $-clr-gray-100,
    "200": $-clr-gray-200,
    "300": $-clr-gray-300,
    "400": $-clr-gray-400,
    "500": $-clr-gray-500,
    "600": $-clr-gray-600,
    "700": $-clr-gray-700,
    "800": $-clr-gray-800,
    "900": $-clr-gray-900,
  ),
  "primary": (
    "100": $-clr-blue-100,
    "200": $-clr-blue-200,
    "400": $-clr-blue-400,
    "700": $-clr-blue-700,
  ),
  "accent": (
    "200": $-clr-pink-200,
    "400": $-clr-pink-400,
    "700": $-clr-pink-700,
  ),
  "brown": (
    "200": $-clr-brown-200,
    "400": $-clr-brown-400,
  ),
  "green": (
    "200": $-clr-green-200,
    "400": $-clr-green-400,
  ),
);

// contextual color tokens
$color-neutral-000: var(--neutral-000);
$color-neutral-100: var(--neutral-100);
$color-neutral-200: var(--neutral-200);
$color-neutral-300: var(--neutral-300);
$color-neutral-400: var(--neutral-400);
$color-neutral-500: var(--neutral-500);
$color-neutral-600: var(--neutral-600);
$color-neutral-700: var(--neutral-700);
$color-neutral-800: var(--neutral-800);
$color-neutral-900: var(--neutral-900);
$color-neutral-1000: var(--neutral-1000);

$color-primary-100: var(--primary-100);
$color-primary-200: var(--primary-200);
$color-primary-400: var(--primary-400);
$color-primary-700: var(--primary-700);

$color-accent-200: var(--accent-200);
$color-accent-400: var(--accent-400);
$color-accent-700: var(--accent-700);

$color-brown-200: var(--brown-200);
$color-brown-400: var(--brown-400);

$color-green-400: var(--green-400);
$color-green-400: var(--green-400);
