@use "../abstracts" as *;

.button {
  display: inline-flex;
  justify-content: center;
  cursor: pointer;
  text-decoration: none;
  line-height: 1;
  font-family: $button-font-family;
  font-size: $button-font-size;
  text-transform: $button-text-transform;
  font-weight: $button-font-weight;
  padding: $button-padding;
  border: $button-border;
  border-radius: $button-border-radius;
  transition: 275ms ease;

  &[data-type="accent"] {
    background-color: $button-accent-background;
    color: $button-accent-color;
    padding: 1rem 2rem;

    &:is(:hover, :focus) {
      background-color: $button-accent-background-hover;
      color: $button-accent-color-hover;
    }
  }

  &[data-type="primary"] {
    background-color: $button-primary-background;
    color: $button-primary-color;

    &:is(:hover, :focus) {
      background-color: $button-primary-background-hover;
      color: $button-primary-color-hover;
    }
  }

  &[data-type="primary-1"] {
    background-color: transparent;
    color: $color-primary-400;
    border: 1px solid $color-primary-100;
    margin: 0;

    &:is(:hover, :focus) {
      background-color: $color-primary-400;
      color: $button-primary-color-hover;
    }
  }

  &[data-type="primary-round"] {
    position: relative;
    background-color: transparent;
    color: $color-primary-400;
    border: 1px solid $color-primary-100;
    // margin: 0;
    padding: 15px 18px;
    width: 48px;
    height: 48px;
    border-radius: 50%;

    // .image {
    //   position: absolute;
    //   top: 15px;
    //   left: 17px;
    // }

    &:is(:hover, :focus) {
      background-color: $color-primary-300;
      color: $button-primary-color-hover;
    }
  }

  &[data-type="primary-1-bleed"] {
    background-color: transparent;
    color: $color-primary-400;
    border: 1px solid $color-primary-100;
    width: 100%;

    &:is(:hover, :focus) {
      background-color: $color-primary-400;
      color: $button-primary-color-hover;
    }
  }
}
