@use "../abstracts/" as *;

.card {
  display: grid;
  gap: $card-flow-spacing;
  padding: $card-padding;
  background-color: $card-background-default;
  font-family: $card-font-family;
  color: $card-color-default;
  line-height: $card-line-height;
  box-shadow: $card-shadow;
  border-radius: $card-border-radius;

  &__heading {
    @include heading($card-heading-font-size, $card-heading-color-default);
  }

  &[data-type="small"] {
    // color: blue;

    img {
      // background-color: pink;
      // margin-inline: auto;
      // margin-block: 1rem;
      position: absolute;
      left: 50%;
      top: 50%;
      background: white;
      transform: translate(-50%, -50%);
    }

    .round {
      position: relative;
      background: white;
      height: 4rem;
      width: 4rem;
      margin-inline: auto;
      border-radius: 50%;
    }
  }
}
