@use "../abstracts/" as *;

.card {
  display: grid;
  gap: $card-flow-spacing;
  padding: $card-padding;
  background-color: $card-background-default;
  font-family: $card-font-family;
  color: $card-color-default;
  line-height: $card-line-height;
  box-shadow: $card-shadow;
  border-radius: $card-border-radius;

  $parent: &;

  &__heading {
    @include heading($card-heading-font-size, $card-heading-color-default);
  }

  &[data-type="categories"] {
    box-shadow: none;
    height: 190px;
    font-size: $font-size-500;

    .round {
      position: relative;
      background: $color-neutral-000;
      height: 5rem;
      width: 5rem;
      margin-inline: auto;
      border-radius: 50%;
      margin-bottom: 20px;
    }

    img {
      position: absolute;
      left: 50%;
      top: 50%;
      background: $color-neutral-000;
      transform: translate(-50%, -50%);
    }
  }

  &[data-type="feature"] {
    box-shadow: $box-shadow-1;
    background-color: $color-neutral-000;
    width: 270px;

    .round {
      position: relative;
      background: $color-primary-200;
      height: $size-13;
      width: $size-13;
      border-radius: 50%;
      margin-bottom: 56px;
    }

    img {
      position: absolute;
      left: 50%;
      top: 50%;
      background: $color-primary-200;
      transform: translate(-50%, -50%);
    }

    #{$parent}__title {
      font-size: $size-6;
      font-weight: $font-weight-bold;
      margin-block-end: $size-5;
      line-height: 1.33;
      color: $color-neutral-900;
    }

    #{$parent}__description {
      line-height: 2;
      color: $color-neutral-400;
    }
  }

  &[data-type="service"] {
    box-shadow: $box-shadow-1;
    width: 370px;

    .round {
      position: relative;
      background: $color-neutral-000;
      height: $size-15;
      width: $size-15;
      border-radius: 50%;
      margin-bottom: 58px;
    }

    img {
      position: absolute;
      left: 50%;
      top: 50%;
      background: $color-neutral-000;
      transform: translate(-50%, -50%);
    }

    #{$parent}__title {
      font-size: 40px;
      font-weight: $font-weight-bold;
      margin-block-end: $size-5;
      line-height: 1.2;
      letter-spacing: -1px;
      color: $color-neutral-900;
      margin-bottom: 16px;
    }

    #{$parent}__description {
      line-height: 2;
      color: $color-neutral-400;
    }

    #{$parent}__link {
      line-height: 2;
      color: $color-neutral-900;
    }
  }

  &[data-type="team"] {
    box-shadow: $box-shadow-1;
    background-color: $color-neutral-000;
    width: 270px;

    .round {
      position: relative;
      // background: $color-neutral-400;
      height: 206px;
      width: 206px;
      border-radius: 50%;
      margin-bottom: 26px;
    }

    .image {
      position: absolute;
      left: 50%;
      left: 24px;
      top: 50%;
      top: 20px;
    }

    .small-round {
      position: absolute;
      bottom: 8px;
      right: 8px;

      background-color: $color-neutral-000;
      width: 48px;
      height: 48px;
      box-shadow: $box-shadow-1;
      border-radius: 50%;
    }

    .facebook {
      position: absolute;
      top: 16px;
      left: 19px;
    }

    .name {
      color: $color-neutral-900;
      font-size: $font-size-600;
      font-weight: $font-weight-bold;
      line-height: 32px;
      margin-bottom: 3px;
    }

    .subject {
      color: $color-neutral-400;
      line-height: 2;
    }
  }
}
